@import "../../../components/theme/breakpoints.scss";;

.container {
  padding: 12px;

  @include min-desktop {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 12px;
  }

  li {
    color: 'black';
  }
}

.floating_button {
	position:fixed !important;
	bottom:40px;
	right:40px;
}

.dialog_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuItem {
  color: black;
}
