.title {
  text-align: center;
  font-weight: 600;
  font-size: large;
  margin-bottom: 10px;
}
.box {
  padding: 12px;
  background-color: var(--background-floor-1);
  border-radius: 5px;
  cursor: pointer;
}

.box:hover {
  background-color: #464651;
  outline: 1px solid var(--text-secondary);
}
.box.selected {
  background-color: #464651;
  outline: 1px solid var(--text-secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.menuItem {
  color: black;
}

.dynamicFields {
  gap: 15px;
}

.productRow {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.editLine {
  text-align: center;
  margin-top: 15px;
}

.editLine > *:first-child {
  margin-right: 15px;
}
